.AboutMe {
  width: 60vw;
  position: relative;
  text-align: justify;
  margin-top: 35em;
  right: 8.5vw;
  margin-left: 40vw;
  color: rgb(236, 229, 204);
  line-height: 1.4rem;
}

@media only screen and (max-width: 1500px) {
  .AboutMe {
    margin-top: 10em;
  }
  
}

@media only screen and (max-width: 450px) {
  .AboutMe {
    margin: 22em 0vw auto 18vw !important;
    width: 80vw;
  }
  .AboutMe h3 {
    letter-spacing: 0 !important;
    font-size: 1.6em !important;
    text-align: center !important;
  }
}

@media only screen and (max-width: 768px) and (min-width: 377px) {
  .AboutMe {
    margin: 28em 0vw auto 16vw !important;
    width: 80vw;
  }
  .AboutMe h3 {
    letter-spacing: 0 !important;
    font-size: 1.6em !important;
    text-align: center !important;
  }
}

@media only screen and (max-width: 375px) {
  .AboutMe {
    margin: 42em 0vw auto 15vw !important;
    width: 82vw;
  }
  .AboutMe h3 {
    letter-spacing: 0 !important;
    font-size: 1.6em !important;
    text-align: center !important;
  }
}

.fadeInCustom{
  -webkit-animation: 5s ease 0s normal forwards 1 fadein;
  animation: 5s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
    0% { opacity:0; }
    33% { opacity:0.33; }
    66% { opacity:0.66; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    33% { opacity:0.33; }
    66% { opacity:0.66; }
    100% { opacity:1; }
}

.AboutMe h3 {
  display: flex;
  justify-content: center;
  font-size: 2em;
  line-height: 1.2em;
  color: rgb(236, 229, 204);
  border-bottom: 1px dashed currentColor;
  letter-spacing: 0.02em;
}

.AboutMe-labels {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}