.App {
  max-height: 100vh;
  max-width: 60vw;
  padding: 2em;
}

* {
  background-size: auto;
  background-color: rgb(7, 6, 7);
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  font-family: 'Josefin Sans', sans-serif;
  scroll-behavior: smooth;
}

.top {
  position: fixed;
  opacity: 0.8;
  top: 0.1em;
  right: 0.1em;
}

#Navbar-logo {
  max-width: 3em;
}

@media only screen and (max-width: 450px) {
  .top {
    z-index: 3;
    width: 2em !important;
    left: 0em !important;
    top: 94vh !important;
  }
  #Navbar-logo {
    width: 2em !important;
    max-width: 2em !important;
    left: 0em !important;
    top: 110vh !important;
  }
}

@keyframes App-logo-beat {
  to { transform: scale(1.1); }
}
