.Home {
    color: #d9b08c;
    letter-spacing: 1.4px;
    padding: 32px;
    max-width: 50vw;
    position: relative;
    margin: 1.5em 3.5em 0em 3.5em;
}

@media only screen and (min-width: 1500px) {
    .Home h1 {
        font-size: 6.7em;
    }
}

@media only screen and (min-width: 1800px) {
  .Home {
    font-size: 1.4em;
    word-wrap: wrap;
    max-width: 55vw;
    margin: 5.8em 3.5em 0em 5.5em;
  }
}

@media only screen and (max-width: 450px) {
    .Home {
        top: 6vh !important;
        width: 80vw !important;
        max-width: 80vw !important;
        margin: 10vh 0em 0em 3em !important;
        padding: 0px;
        letter-spacing: 0em;
    }
    .Home h1 {
        font-size: 4em !important;
    }
    .Home h2 {
        top: 5vh !important;
        font-size: 2.7em !important;
        width: 88vw !important;
        max-width: 80vw !important;
    }
    .link-wrapper {
        margin: 0.75em 0em !important;
    }
    #a-tags {
        left: 1em;
        top: 1vh;
        width: 72vw !important;
    }
    .Home h5 {
        font-size: 1.05em !important;
        width: 80vw !important;
    }
}

.Typist .Cursor {
  display: inline-block; 
}
.Typist .Cursor--blinking {
    opacity: 1;
    animation: blink 1s linear infinite; 
}

@keyframes blink {
  0% {
    opacity: 1; 
  }
  50% {
    opacity: 0; 
  }
  100% {
    opacity: 1; 
  } 
}



#a-tags {
    position: relative;
    top: 1vh;
    width: 80vw;
}

.Home-purpose, .Home-name {
    max-width: 50vw;
}

#welcome {
    margin-bottom: 1em;
    max-width: 50vw;
}

.Home h1 {
    color: rgb(236, 229, 204);
    max-width: 50vw;
    font-size: 4.7em;
    text-align: left;
}

.Home h2 {
    font-size: 3.7em;
    max-width: 50vw;
    text-align: left;
    margin-bottom: 1em;
}


.text a {
    text-decoration: none;
    color: rgb(224, 218, 200);
    font-size: 1.4em;
    position: relative;
    text-decoration: underline dotted rgba(255, 166, 0, 0.678);
}

.text a:hover {
    font-style: italic;
    text-decoration: underline rgba(255, 166, 0, 0.678);
}


.link-wrapper {
    display: inline-block;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    width: 7.9em;
  }