.LinkToBlogs {
      top: 44vh;
      position: relative;
      margin-left: 4.7em;
      color: gainsboro;
}

@media only screen and (max-width: 1500px) {
    .LinkToBlogs {
      top: 10em;
  }
}

@media only screen and (min-width: 1800px) {
    .LinkToBlogs {
      top: 30vh;
  }
}

@media only screen and (max-width: 450px) {
      .LinkToBlogs {
        top: 35vh;
        margin-left: 1.8em;
        width: 80vw !important;
    } .LinkToBlogs h1 {
        margin-bottom: 1em !important;
        margin-left: 0.2em !important;
        width: 90vw !important;
    }
    .LinkToBlogs h1 div {
        margin-bottom: 1em !important;
        margin-left: 0.2em !important;
        width: 90vw !important;
    }
}

@media only screen and (max-width: 375px) {
    .LinkToBlogs h1 {
        font-size: 1.8em;
        width: 90vw !important;
    }
    .LinkToBlogs h1 {
        margin-bottom: 1em !important;
        margin-left: 0.2em !important;
        width: 90vw !important;
    }
    .LinkToBlogs h1 div {
        margin-bottom: 1em !important;
        margin-left: 0.2em !important;
        width: 90vw !important;
    }
}

.LinkToBlogs h1 {
      margin-bottom: 3.5em;
      margin-left: 1.5em;
      width: 8.1em;
}

#desk {
      position: absolute;
      left: 94%;
      top: 12vh;
      opacity: 0.55;
}

.typewriter {
      white-space: nowrap;
      overflow: hidden; 
      font-family: 'Special Elite', cursive;
      border-right: solid 3px white;
      -webkit-animation: typewriter-text 2s steps(29,end) 1s 1 normal both,typewriter-cursor 1000ms steps(29,end) infinite;
              animation: typewriter-text 2s steps(29,end) 1s 1 normal both,typewriter-cursor 1000ms steps(29,end) infinite;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1;
}

@-webkit-keyframes typewriter-text{
    from{width: 0em;}
  to{width: 8.1em;}
}

@keyframes typewriter-text{
    from{width: 0em;}
  to{width: 8.1em;}
}

@-webkit-keyframes typewriter-cursor{
    from{border-right-color: transparent;}
  to{border-right-color: white;}
}

@keyframes typewriter-cursor{
    from{border-right-color: transparent;}
  to{border-right-color: white;}
}