.LinkToBlogs {
    top: 48vh;
    position: relative;
    margin-left: 4.7em;
    color: gainsboro;
}

@media only screen and (max-width: 1500px) {
  .LinkToBlogs {
    top: 10em;
  }
}

@media only screen and (min-width: 1800px) {
  .LinkToBlogs {
    top: 30vh;
  }
}

@media only screen and (max-width: 450px) {
    .LinkToBlogs {
      top: 35vh;
      margin-left: 1.8em;
      width: 70vw !important;
    } .LinkToBlogs h1 {
      margin-bottom: 1em !important;
      margin-left: 0.6em !important;
    }
}

.LinkToBlogs h1 {
    margin-bottom: 3.5em;
    margin-left: 1.5em;
    width: 8.1em;
}

#typewriter {
    position: absolute;
    left: 94%;
    top: 12vh;
    opacity: 0.55;
}

.typewriter {
    white-space: nowrap;
    overflow: hidden; 
    font-family: 'Special Elite', cursive;
    border-right: solid 3px white;
    animation: animated-text 2s steps(29,end) 1s 1 normal both,animated-cursor 1000ms steps(29,end) infinite;
    animation-iteration-count: 1;
}

@keyframes animated-text{
  from{width: 0em;}
  to{width: 8.1em;}
}

@keyframes animated-cursor{
  from{border-right-color: transparent;}
  to{border-right-color: white;}
}
