
.MyProjects {
  width: 100vw;
  /* display: flex; */
  /* justify-content: center; */
}

.wrapper {
  cursor: pointer;
  width: 30vw;
  height: 20vw;
  position: relative;
  top: 24vh;
  margin: 20vh 1vw 20vh 8vw;
}

.MyProjects h1 {
  position: relative;
  top: 33vh;
  margin: 30vh 45vw;
  width: 100%;
  color: white;
}

.Project-Info {
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: purple;
  position: relative;
}
svg {
  display: block;
  position: absolute;
  top: 24px;
  left: -24px;
}

:root {
  --ease-hover: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-default: cubic-bezier(0.645, 0.045, 0.355, 1);
  --duration: 0.5s;
}
.wrapper path {
    stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: undash calc(var(--duration) * 1.3) var(--ease-default) forwards;
}

.wrapper:hover path {
  animation: dash var(--duration) var(--ease-hover) forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes undash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 2000;
  }
}
/* .svg { 
  box-shadow: inset 0px 0px 0px 3px rgb(20,20,20); 
}

.shape {  
  stroke-width: 2px;
  fill: transparent;
  stroke: #EAEAEA;
  transition: fill .6s;
}
.one { stroke-dasharray: 470 300 470 300; stroke-dashoffset: 470; }
.two { stroke-dasharray: 300 470 300 470; }
.text {
  text-align: center;
  font-family: 'Roboto Condensed';
  font-size: 22px;
  line-height: 0px;
  letter-spacing: 8px;
  color: rgb(20,20,20);
  top: -350px;
  position: relative;
  transition:color .6s;
}
.subtext {
  color:#65626b;
  text-transform:uppercase;
  font-family:'Roboto Condensed';
  top: -150px;
  position: relative;
  font-size:9px;
  text-align:left;
  margin-left:50px;
}
.first { margin-bottom:30px; } */


@keyframes acidTrip {
  from {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}

.acidTrip {
  animation-name: acidTrip;
  color: red;
  background-image: linear-gradient(50deg, purple, orange);
  background-clip: text;
  text-fill-color: transparent;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
}

