
.MyProjects-Projects {
  width: 85vw;
  margin: 0 0 auto 5vw;
  display: flex;
  justify-content: center;
}

.MyProjects h1 {
  margin: 0vh 38vw 6vh 42vw !important;
  width: 20vw !important;
  z-index: 2;
}

@media only screen and (max-width: 450px) {
  .MyProjects-Projects {
    display: block
  }
  .MyProjects h1 {
    width: 60vw !important;
    margin: 0vh 38vw 0vh 28vw !important;
  }
}

@media only screen and (max-width: 375px) {
  #MyProjects {
    position: relative !important;
    top: 10vh !important;
  }
  .MyProjects h1 {
    width: 65vw !important;
    margin: 0vh 0vw 0vh 18vw !important;
  }
  .MyProjects-Projects {
    width: 60vw !important;
  }
}

@media only screen and (max-width: 768px) and (min-width: 377px) {
  .MyProjects h1 {
    width: 60vw !important;
    margin: 0vh 0vw 0vh 32vw !important;
  }
  .MyProjects-Projects {
    width: 60vw !important;
    flex-direction: column;
    margin: 0vh 0vw 0vh 20vw !important;
  }
}

.MyProjects h1:hover .MyProjects-Projects > .Project-Info {
  color: inherit;
}

.MyProjects h1:hover .Project-Info:hover {
  color: blue;
}

.Project {
  top:0vh;
  margin: 0 15vw 15vh;
  font-family: 'Roboto Mono', monospace;
}



svg {
  display: block;
  position: absolute;
  top: 24px;
  left: -24px;
}

:root {
  --ease-hover: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-default: cubic-bezier(0.645, 0.045, 0.355, 1);
  --duration: 0.5s;
}
.wrapper path {
    stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: undash calc(var(--duration) * 1.3) var(--ease-default) forwards;
}

.wrapper:hover path {
  animation: dash var(--duration) var(--ease-hover) forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes undash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 2000;
  }
}



@keyframes colorAnim {
  from {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}

.colorAnim:hover {
  animation-name: colorAnim;
  color: red;
  background-image: linear-gradient(50deg, purple, orange);
  background-clip: text;
  text-fill-color: transparent;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
}

