
.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  width: 50px;
  border-right: 1px dashed rgba(187, 186, 186, 0.3);
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: .0875rem;
  font-size: 11px;
  transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}

.NavBar .NavBar-Inner {
    position: relative;
    height: 100%;
    white-space: nowrap;
}

.NavBar-Bottom {
  display: flex;
  align-content: center;
  position: absolute;
  left: 0;
  bottom: 27vh;
  -webkit-transform: rotate(-90deg) perspective(1px);
          transform: rotate(-90deg) perspective(1px);
  -webkit-transform-origin: 50px 50px;
          transform-origin: 50px 50px;
  height: 50px;
  line-height: 50px;
  white-space: nowrap;
  font-weight: 300;
  word-spacing: .5rem;
}

@media only screen and (max-width: 1500px) {
  .NavBar-Bottom {
    bottom: 18vh;
  }
  .NavBar-Bottom a {
    margin: 0em 2.5em !important;
  }
}

.NavBar-Bottom p {
  line-height: 2.5em;
  display: inline;
  color: white;
}

.NavBar-Bottom a {
  color: rgba(187, 186, 186, 0.788);
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0em 4em;
  /* font-weight: bold; */
}

.top {
  opacity: 0.2;
  padding: 1em 0.5em;
  align-content: center;
  object-fit: cover;
}

#Navbar-logo {
  max-width: 3.7em;
}

.NavBar-Bottom a:hover {
  text-decoration: underline rgba(187, 186, 186, 0.3);
}