.ProfileImage img {
  display: inline;
  position: relative;
  max-width: 24vw;
  margin-left: 9.5vw;
  top: 0vh;
  border: 1px dotted rgb(7, 6, 7);;
  border-radius: 12px;
  -webkit-box-shadow:  2px 2px 5px 0px rgb(15, 13, 15);;
    -moz-box-shadow:  2px 2px 5px 0px rgb(14, 11, 14);;
          box-shadow:  2px 2px 5px 0px rgb(20, 17, 20);;
}

@media only screen and (max-width: 768px) and (min-width: 377px) {
  .ProfileImage img {
    width: 35vw !important;
    max-width: 90vw !important;
  }
  .ProfileImage {
    display: block;
    position: relative;  
    top: 20vh !important;
    width: 35vw !important;
    margin-left: 36vw !important;
    z-index: 2;
  }
}


@media only screen and (max-width: 376px) {
  .ProfileImage img {
    width: 70vw !important;
    max-width: 90vw !important;
  }
  .ProfileImage {
    display: block;
    position: relative;  
    top: 90vh !important;
    width: 90vw !important;
    margin-left: 1vw !important;
    z-index: 2;
  }
}


@media only screen and (min-width: 1500px) {
 .ProfileImage img {
    max-width: 27vw;
  }
  .ProfileImage {
    top: 0em !important;
    margin-left: 45vw !important;
  }
}

.ProfileImage {
  display: inline;
  position: absolute;  
  top: 5em;
  margin-left: 50vw;
  z-index: 2;
}
