

.Project-Info h3 {
  font-size: 1.2em;
  color: #38260F;
  background-color: rgb(248, 242, 210);
  font-family: 'Roboto Mono', monospace;
  padding: 1vh 3vw;
  display: flex;
  justify-content: space-around;
  font-weight: 300;
  text-decoration: double underline;
}

@media only screen and (min-width: 1415px) {
  .Project-Info h3 {
    font-size: 2.2em;
  }
  .Project-Info p {
    font-size: 1.5em;
  }
  .Project-Info a {
    font-size: 1.4em;
  }
  .wrapper {
    height: 55vh !important;
    max-height: 90vh !important;
  }
}

@media only screen and (min-width: 450px) and (max-width: 1414px) and (min-height: 800px){
  .Project-Info h3 {
    font-size: 1.5em;
  }
  .Project-Info p {
    font-size: 1em;
  }
  .Project-Info a {
    font-size: 1em;
  }
  .wrapper {
    height: 38vh !important;
    max-height: 90vh !important;
  }
}

@media only screen and (max-width: 450px) {
  .Project {
    display: block !important;
    width: 70vw !important;
    height: 80vh !important;
    max-height: 100vh !important;
    margin: 5vh 0vw 0vh 12vw !important;
  } 
  .Project-Info {
    height: 50vh !important;
  }
  .wrapper {
    width: 70vw !important;
    height: 50vh !important;
    margin: 14vh 0vw 24vh 0vw !important;
  }
  .Project-Info h3 {
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 375px) {
  .Project {
    display: block !important;
    width: 70vw !important;
    height: 65vh !important;
    max-height: 100vh !important;
    margin: 5vh 0vw 18vh 10vw !important;
  } 
  .Project-Info {
    height: 55vh !important;
  }
  .wrapper {
    width: 70vw !important;
    height: 55vh !important;
    margin: 14vh 0vw 18vh 0vw !important;
  }
  .Project-Info h3 {
    font-size: 1.4em;
  }

  .fadeIn {
    width: 60vw !important;
  }
}

@media only screen and (max-width: 768px) and (min-width: 377px) {
  .Project {
    display: block !important;
    width: 60vw !important;
    height: 40vh !important;
    max-height: 100vh !important;
    margin: 5vh 0vw 30vh 6vw !important;
  } 
  .wrapper {
    width: 50vw !important;
    height: 40vh !important;
    margin: 14vh 0vw 24vh 0vw !important;
  }
  .Project-Info h3 {
    font-size: 2em;
  }
  .Project-Info p {
    font-size: 1.4em;
  }
  .Project-Info a {
    font-size: 1.4em;
  }
}


.Project {
  top:0vh;
  max-height: 60vh;
  font-family: 'Roboto Mono', monospace;
}

.Project-Info p {
  color: #38260F;
  background-color: rgb(248, 242, 210);
  font-family: 'Roboto Mono', monospace;
  padding: 1vh 3vw;
  display: flex;
  justify-content: space-around;
  font-weight: 500 !important;
  text-align: center;
}

.Project-Info p:hover {
  background-color: black;
  color: blue;
}


.Project-Info a {
  color: #38260F;
  font-family: 'Roboto Mono', monospace;
  background-color: rgb(248, 242, 210);
  padding: 1vh 3vw;
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  text-decoration: dotted underline;
}

.Project-Info a:hover {
  background-color: black;
  color: white;
}

.wrapper {
  width: 25vw;
  height: 23vw;
  max-height: 60vh;
  position: relative;
  top: 24vh;
  margin: 20vh 0vw 20vh 4vw;
}

.MyProjects h1 {
  font-family: 'Roboto Mono', monospace;
  position: relative;
  top: 33vh;
  margin: 30vh 45vw;
  width: 100%;
  color: white;
}

.Project-Info {
  opacity: 0.9;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgb(248, 242, 210);
  color: #38260F;
  position: relative;
  border: 3px solid rgba(214, 159, 70, 0.781);
}

.Project-Info:hover{
  background-color: black;
  color: white;
  border: 3px solid rgb(19, 19, 247);
}

.Project-Info:hover a{
  background-color: black;
  color: white;
  font-weight: 300 !important;
}

.Project-Info:hover h3{
  background-color: black;
  color: rgb(62, 62, 241);;
  font-weight: 800 !important;
}

.Project-Info:hover p{
  background-color: black;
  color: rgb(19, 19, 247);;
  font-weight: 600 !important;
}