.AboutMe {
  display: block;
  text-align: justify;
  top: 110vh;
  width: 50vw;
  right: 5vw;
  position: absolute;
  margin-right: 1em;
  color: rgb(236, 229, 204);
  margin-bottom: 3em;
  line-height: 1.4rem;
}

.AboutMe h3 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-size: 1.5em;
  /* font-family: 'Special Elite'; */
}


.AboutMe p {
  font-family: 'Josefin Sans', sans-serif;

}

.AboutMe-labels {
  display: inline-block;
  text-align: center;
}