.App {
  max-height: 100vh;
  max-width: 60vw;
  padding: 2em;
}

* {
  background-size: auto;
  /* background-color: rgb(7, 6, 7);
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png"); */
  font-family: 'Josefin Sans', sans-serif;
  scroll-behavior: smooth;
}

.top {
  position: fixed;
  opacity: 0.8;
  top: 0.1em;
  right: 0.1em;
}

#Navbar-logo {
  max-width: 3em;
}

@keyframes App-logo-beat {
  to { transform: scale(1.1); }
}
