.BlogPost {
    height: 12em;
    width: 50vw;
    margin-bottom: 2em;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.5em;
    border-color: rgba(214, 159, 70, 0.781);
}

#paper {
    background-color: rgb(248, 242, 210);
    height: 12em;
    width: 50vw;
    border-radius: 3px;
    color: #38260F;
    opacity: 0.8;
}

.BlogPost-title {
    background-color: rgb(248, 242, 210);
    text-transform: capitalize;
    margin-top: 0;
    padding-left: 1em;
    padding-top: 1em;
    font-family: 'Special Elite', cursive;
}

.BlogPost-description {
    background-color: rgb(248, 242, 210);
    padding-left: 1.5em;
    font-family: 'Special Elite', cursive;
}

.BlogPost-intro {
    background-color: rgb(248, 242, 210);
    padding-left: 1.5em;
    font-family: 'Special Elite', cursive;
}

.BlogPost-link {
    color: #38260F;
    background-color: rgb(248, 242, 210);
    padding-left: 1em;
    text-decoration: underline;
    padding-left: 1.5em;
    font-family: 'Special Elite', cursive;
}