.Home {
    color: #d9b08c;
    letter-spacing: 0.1em;
    display: inline-block;
    justify-content: flex-start;
    letter-spacing: 1.6px;
    text-align: left;
    padding: 32px;
    margin: 0em 1.5em;
}

#welcome {
    margin-bottom: 1em;
}

#scroll-pls {
    position: relative;
    left: 40vw;
    top: 15vh;
}

#scroll-pls > h4 {
    width: 8em;
}

.floating{
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(15%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

.Home h1 {
    color: rgb(236, 229, 204);
    font-size: 3.2em;
    text-align: left;
}

.Home h2 {
    font-size: 2.8em;
    text-align: left;
}

#scroll-pls {
    animation: scroll beat 1s infinite alternate;
    max-width: 9vw;
    align-content: center;
    top: 80vh;
    position: absolute;
    float: center;
}

.Home h3 i {
    font-size: 2em;
    position: relative;
    left: 3.3vw;
    padding: 0;
    margin: 0;
}

.Home a {
    text-decoration: none;
    color: rgb(224, 218, 200);
    font-size: 1.2em;
    /* border: 1px solid rgba(255, 166, 0, 0.678); */
    /* background-color: rgba(179, 135, 54, 0.678); */
    /* padding: 0.25em 0.5em; */
    /* padding: 4px 4px; */
    margin: 0em 0em;
    /* border-radius: 1px; */
    z-index: 5;
    text-decoration: underline dotted rgba(255, 166, 0, 0.678);
}


.svg-wrapper {
    height: 3.5em;
    display: inline-block;
    /* align-items: center; */
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    width: 7.9em;
    padding: 0;
  }

  svg {
      height: 90%;
      width: 92%;
  }

  rect {
    position: relative;
    height: 75%;
    width: 330;
    padding: 0;
  }
  
  .shape {
    /* fill: rgba(179, 135, 54, 0.678); */
    fill: transparent;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 2px;
    stroke: rgba(255, 166, 0, 0.678);
    
  }
  
  .text {
    display: flex;
    width: 6.8em;
    justify-content: center;
    position: relative;
    top: -48px;
    padding: 0em;
    margin: 0em 0em 0em 0.3em;
    /* border-radius: 1px */
  }
  
  @keyframes draw {
    0% {
      stroke-dasharray: 140 540;
      stroke-dashoffset: -474;
      stroke-width: 2px;
    }
    100% {
      stroke-dasharray: 760;
      stroke-dashoffset: 0;
      stroke-width: 2px;
    }
  }
  
  .svg-wrapper:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
  }