.ProfileImage img {
    max-width: 25vw;
    opacity: 0.89;
    object-fit: contain;
    border: 1px dotted rgb(110, 108, 108);
    border-radius: 5px;
    -webkit-box-shadow:  2px 2px 15px 0px rgb(51, 50, 50);
	   -moz-box-shadow:  2px 2px 15px 0px rgb(49, 48, 48);
            box-shadow:  2px 2px 15px 0px rgb(46, 45, 45);
}

/* .ProfileImage img:hover {
    box-shadow: 3px 3px 5px 0px rgba(241, 178, 61, 0.678);
} */

.ProfileImage {
    top: 10vh;
    right: 17vw;
    position: absolute;
    max-width: 20vw;
    max-height: 30vw;
    object-fit: cover;
    margin-left: 60vw;
    z-index: 2;
}
